    <div id="side">
      <aside id="toc">
        <h4>Contents</h4>
        <nav class="nav nav-side">
          <ul class="toc">{% for page in toc %}{% if templateName == page[0] and page[1].anchors %}
            <li><a {% if templateName == page[0] %}class="active" {% endif %}href="{% if deploy and page[0] == "index" %}.{% else %}{{ page[1].href }}{% endif %}">{{ page[1].title }}</a>{% for anchors in page[1].anchors %}
              <ul>{% for anchor in anchors %}
                <li><a {% if anchor[0] contains "@" %}class="chapter" {% endif %}href="{{ anchor[0] | replace: "@", "#" }}"{% if anchor[0] == "#windows" or anchor[0] == "#macos" or anchor[0] == "#linux" %} translate="no"{% endif %}>{{ anchor[1] | replace: "[", "<span class=\"type\">[" | replace: "]", "]</span>" }}</a></li>{% endfor %}
              </ul>{% endfor %}
            </li>{% else %}
            <li><a {% if templateName == page[0] %}class="active" {% endif %}href="{% if deploy and page[0] == "index" %}.{% else %}{{ page[1].href }}{% endif %}">{{ page[1].title }}</a></li>{% endif %}{% endfor %}
          </ul>
        </nav>
      </aside>
      <aside id="language">
        <h4>Language</h4>
        <nav>{% unless templateName == "index" %}{% assign helpPath = templateName | append: ".html" %}{% endunless %}{% assign translateUrl = "https://translate.google.com/?sl=en&text=" | append: helpBaseUrl | append: helpPath %}
          <a href="{{ translateUrl | escape }}">Translate this page in your language with Google Translate</a>
        </nav>{% if distributable %}
        <span class="l10n-note">Requires internet connection</span>{% endif %}
      </aside>
    </div>