<!DOCTYPE html>
<html lang="en">
{% render '_doc-head.liquid' %}
<body>
{% render '_page-head.liquid' %}
<div id="page">
  <main id="translate" class="page">
    <h1>Translations</h1>
    <p>Translation sources for translators and users.</p>
    <div>
      <p>To translate e2 SAT Editor software, download translation source files from this page.</p>
      <p>Translation files are available in <strong>Qt translation sources (.ts)</strong> and <strong>GNU Gettext localization files (.po, .pot)</strong> file formats.</p>
      <ul>
        <li>To edit from <b>Qt translation sources</b> <strong>(.ts)</strong>, you need the Qt translation tools, <a href="https://doc.qt.io/qt-6/qtlinguist-index.html" rel="nofollow" target="_blank">Qt Linguist (external link)</a>.</li>
        <li>To edit from <b>GNU Gettext localization files</b> <strong>(.po, .pot)</strong>, you need a translation tool like <a href="https://poedit.net" rel="nofollow" target="_blank">Poedit (external link)</a>.</li>
      </ul>
      <div>
        <p>Use the <b>Template [en_EN]</b> for new languages that could be considered.</p>
        <p><mark>Source translation strings in <strong>(.ts)</strong> and <strong>(.po, .pot)</strong> are identicals, choose the translation source format that you prefer.</mark></p>
      </div>
    </div>
    <div>
      <h2>Download translation sources</h2>
      <dl class="sources" translate="no">{% for lang in languages %}
        <dt><span class="lang-name" title="{{ lang[1].tr_name }}" data-tooltip>{{ lang[1].name }}</span> <span class="locale-name">[{% unless lang[0] == "template" %}{{ lang[0] }}{% else %}{{ lang[1].locale }}{% endunless %}]</span>{% if lang[0] in sources.ts and lang[0] in sources.po %} download:</dt>
        <dd><strong>(.ts)</strong> <a class="file-link" href="{% assign qs = sources.ts[lang[0]].hash | truncate: 16, "" %}{{ "/translate/sources/" | append: sources.ts[lang[0]].file | append: "?i=" | append: qs | urlencode }}">{{ sources.ts[lang[0]].file }}</a> <button class="file-hash tiny text" data-tooltip="{{ sources.ts[lang[0]].hash | prepend: "SHA256:" }}">hash</button></dd>
        <dd><strong>(.{% unless sources.po[lang[0]].file contains ".pot" %}po{% else %}pot{% endunless %})</strong> <a class="file-link" href="{% assign qs = sources.ts[lang[0]].hash | truncate: 16, "" %}{{ "/translate/sources/" | append: sources.po[lang[0]].file | append: "?i=" | append: qs | urlencode }}">{{ sources.po[lang[0]].file }}</a> <button class="file-hash tiny text" data-tooltip="{{ sources.po[lang[0]].hash | prepend: "SHA256:" }}">hash</button>{% endif %}</dd>{% endfor %}
      </dl>
      <div>
        <p>File sources: <strong>{{ translate_sources_ver }} version</strong></p>
      </div>
    </div>
    <div>
      <h2>Send translation sources</h2>
      <p>When you complete the translation, send the file:</p>
      <ul>
        <li>via issue to the repository: <a href="https://github.com/ctlcltd/e2-sat-editor/issue/new/choose">https://github.com/ctlcltd/e2-sat-editor/issue/new/choose</a></li>
        <li>via e-mail: <a href="mailto:&#108;&#114;&#116;&#108;&#110;&#114;&#100;&#064;&#104;&#111;&#116;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;?subject=Send%20translation%20e2%20SAT%20Editor">contact me</a></li>
      </ul>
      <p>Useful new and corrected translation strings will be included on next releases.</p>
    </div>
  </main>
{% render '_page-foot.liquid' %}
</div>
{% render '_page-vars.liquid' %}
</body>
</html>
